body {
    padding: 0;
    margin: 0;
}

#gameTable {
    border-collapse: collapse;
}

#gameTable td {
    padding: 0;
    margin: 0;
}

#gameTable td div.cell {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
    width:50px;
    height:50px;
    padding: 1px;
    background: gray;
}

div.cell-content {
    border-radius: 50%;
    width:42px;
    height:42px;
}

div.cell-content.future-red ,
div.cell-content.future-green,
div.cell-content.future-blue,
div.cell-content.future-yellow,
div.cell-content.future-white,
div.cell-content.future-purple,
div.cell-content.future-black {
    width:24px;
    height:24px;
    margin:9px;
}

div.cell-content.red,
div.cell-content.future-red {
    background: red;
    border:3px solid darkred;
}
div.cell-content.green,
div.cell-content.future-green {
    background: green;
    border:3px solid darkgreen;
}
div.cell-content.blue,
div.cell-content.future-blue {
    background: blue;
    border: 3px solid darkblue;
}
div.cell-content.yellow,
div.cell-content.future-yellow {
    background: yellow;
    border: 3px solid orange;
}
div.cell-content.white,
div.cell-content.future-white {
    background: white;
    border: 3px solid darkgray;
}
div.cell-content.purple,
div.cell-content.future-purple {
    background: purple;
    border: 3px solid darkmagenta;
}
div.cell-content.black,
div.cell-content.future-black {
    background: black;
    border:3px solid black;
}

#gameTable td.selected div {
    border: 3px solid red;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background: lightblue;
}

h2.page-header {
    margin:10px 0;
}